<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apiserver.mappers.CategoryMapper" >

    <select id="select_parent_category" resultType="com.apiserver.dto.CategoryDTO">
        <if test="no == 0" >
            select * from category where parent_no = #{no}
        </if>
        <if test="no lt 5 and no gt 0">
            select * from category where parent_no = #{no};
        </if>
        <if test="no gt 4 ">
            select * from category where parent_no = (select parent_no from category where `no` = #{no});
        </if>
    </select>

    <resultMap id="all_category_resultMap" type="com.apiserver.dto.CategoryDTO" autoMapping="true">
        <id property="no" column="c1_no" />
        <result property="name" column="c1_name" />
        <collection property="categorys" ofType="com.apiserver.dto.CategoryDTO" javaType="list" autoMapping="true">
            <id property="no" column="c2_no" />
            <result property="name" column="c2_name" />
        </collection>
    </resultMap>

    <select id="select_all_category" resultMap="all_category_resultMap">
        SELECT
        * ,
        c1.no as c1_no,
        c2.no as c2_no,
        c1.name as c1_name,
        c2.name as c2_name
        FROM category c1
        join category c2
        on c1.no = c2.parent_no;
    </select>



</mapper>