<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apiserver.mappers.ProductMapper" >

    <select id="select_product_list" resultType="com.apiserver.dto.ProductDTO" >
        <if test="no == 0">
            select * from product
        </if>
        <if test="no lt 5 and no gt 0">
            select * from product p right outer join category c on p.category_no = c.no where parent_no = #{no};
        </if>
        <if test="no gt 4 ">
            SELECT * FROM product where category_no = #{no};
        </if>
    </select>

    <resultMap id="select_product_resultMap" type="com.apiserver.dto.ProductDTO" autoMapping="true">
        <id property="no" column="product_no" />

<!--        <association property="category" javaType="com.shop.dto.product.Category">-->
<!--            <id property="no" column="category_no" />-->
<!--        </association>-->


        <collection property="images" ofType="string" javaType="list">
            <result column="product_img" />
        </collection>

        <collection property="options" ofType="com.apiserver.dto.OptionDTO" javaType="list">
            <id property="no" column="option_no" />
            <result property="name" column="name" />
        </collection>

        <collection property="reviews" ofType="com.apiserver.dto.ReviewDTO" javaType="list" autoMapping="true">
            <id property="no" column="r_no"/>
            <result property="userId" column="r_user_id" />
            <result property="productNo" column="r_product_no" />
            <result property="averageRate" column="averageRate" />
            <collection property="users" ofType="string" javaType="list">
                <result column="rl_user"/>
            </collection>
        </collection>
    </resultMap>

    <select id="select_product" resultMap="select_product_resultMap" >
        select
        p.no as product_no,
        p.title,
        p.price,
        p.main_img,

        pi.no as image_no,
        pi.product_img,

        po.no as option_no,
        po.name,
        po.additional_price,

        r.no as r_no,
        r.user_id as r_user_id,
        r.product_no as r_product_no,
        r.content,
        r.rate,
        r.write_date,

        rl.user_id as rl_user,

        Round((select avg(rate) from review where product_no = #{no}), 1) as averageRate

        from product p
        left outer join product_img pi
        on p.no = pi.product_no
        left outer join `product_option` po
        on p.no = po.product_no
        left outer join review r
        on p.no = r.product_no
        left outer join review_like rl
        on r.no = rl.review_no
        where p.no = #{no}
        order by pi.no;
    </select>

    <resultMap id="basket_product_resultMap" type="com.apiserver.dto.ProductDTO" autoMapping="true">
        <id property="no" column="p_no" />
        <collection property="options" javaType="list" ofType="com.apiserver.dto.OptionDTO" autoMapping="true">
            <id property="no" column="po_no" />
        </collection>
    </resultMap>

    <select id="select_basket_product" resultMap="basket_product_resultMap">
        select *, p.no as p_no, po.no as po_no
        from shopping_cart sc
        inner join shopping_cart_option sco
        on sc.no = sco.shopping_cart_no
        inner join product p
        on sc.product_no = p.no
        left outer join product_option po
        on sco.product_option_no = po.no
        where sc.user_id = #{userId};
    </select>

    <select id="select_parent_category" resultType="com.apiserver.dto.CategoryDTO">
        select * from category where parent_no = 0;
    </select>

    <select id="select_parent_by_category" resultType="com.apiserver.dto.CategoryDTO">
        select * from category where parent_no = #{no};
    </select>

    <insert id="shopping_cart_insert" parameterType="com.apiserver.dto.ShoppingCartDTO">
        insert into shopping_cart(user_id, product_no) values(#{userId}, #{productNo});
    </insert>

    <insert id="shopping_cart_option_insert" parameterType="com.apiserver.dto.ShoppingCartDTO">
        insert into shopping_cart_option(shopping_cart_no, product_option_no) values(last_insert_id(), #{optionNo});
    </insert>

    <update id="shopping_cart_amount_update" parameterType="com.apiserver.dto.ShoppingCartDTO">
        update shopping_cart set amount = #{amount} where product_no = #{no}
    </update>

    <delete id="shopping_cart_delete" parameterType="com.apiserver.dto.ShoppingCartDTO">
        delete from shopping_cart where product_no = #{no}
    </delete>

    <delete id="shopping_cart_option_delete" parameterType="com.apiserver.dto.ShoppingCartDTO">
        delete from shopping_cart_option where shopping_cart_no = #{no}
    </delete>

    <select id="best_selling_products" resultType="com.apiserver.dto.ProductDTO">
        SELECT
        product_no as no,
        count(product_no) as count,
        p.title as title,
        p.price as price,
        p.main_img as main_img
        FROM order_product op
        inner join product p
        on op.product_no = p.no

        group by product_no

        order by count desc
        limit 20
    </select>

    <select id="recent_products" resultType="com.apiserver.dto.ProductDTO">
        SELECT * FROM shopping_db.product order by write_date desc limit 20;
    </select>

    <select id="main_image" resultType="string" >
        select image from main_image;
    </select>
</mapper>