<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apiserver.mappers.ProductMapper" >

    <select id="select_product_list" resultType="com.apiserver.dto.ProductDTO" >
        <if test="no == 0">
            select * from product
        </if>
        <if test="no lt 5 and no gt 0">
            select * from product p right outer join category c on p.category_no = c.no where parent_no = #{no};
        </if>
        <if test="no gt 4 ">
            SELECT * FROM product where category_no = #{no};
        </if>
    </select>

    <select id="search_product_list" resultType="com.apiserver.dto.ProductDTO" >
        <if test="no == 0">
            select * from product where title like '%${search}%'
        </if>
        <if test="no lt 5 and no gt 0">
            select * from product p right outer join category c on p.category_no = c.no where parent_no = #{no} and title like '%${search}%'
        </if>
        <if test="no gt 4 ">
            SELECT * FROM product where category_no = #{no} and title like '%${search}%'
        </if>
    </select>

    <resultMap id="select_product_resultMap" type="com.apiserver.dto.ProductDTO" autoMapping="true">
        <id property="no" column="p_no" />
        <collection property="images" javaType="list" ofType="string">
            <result column="product_img"/>
        </collection>
        <collection property="options" javaType="list" ofType="com.apiserver.dto.OptionDTO" autoMapping="true">
            <id property="no" column="po_no"/>
            <result property="productNo" column="" />
        </collection>
    </resultMap>

    <select id="select_product" resultMap="select_product_resultMap" >
        select *,p.no as p_no, pi.no as pi_no, po.no as po_no
        from product p
        inner join product_img pi
        on p.no = pi.product_no
        left outer join product_option po
        on p.no = po.product_no
        where p.no = #{no};
    </select>

    <resultMap id="basket_product_resultMap" type="com.apiserver.dto.ProductDTO" autoMapping="true">
        <id property="no" column="p_no" />
        <collection property="options" javaType="list" ofType="com.apiserver.dto.OptionDTO" autoMapping="true">
            <id property="no" column="po_no" />
        </collection>
    </resultMap>

    <select id="select_basket_product" resultMap="basket_product_resultMap">
        select *, p.no as p_no, po.no as po_no
        from shopping_cart sc
        inner join shopping_cart_option sco
        on sc.no = sco.shopping_cart_no
        inner join product p
        on sc.product_no = p.no
        left outer join product_option po
        on sco.product_option_no = po.no
        where sc.user_id = #{userId};
    </select>

    <select id="select_parent_category" resultType="com.apiserver.dto.CategoryDTO">
        select * from category where parent_no = 0;
    </select>

    <select id="select_parent_by_category" resultType="com.apiserver.dto.CategoryDTO">
        select * from category where parent_no = #{no};
    </select>

    <insert id="shopping_cart_insert" parameterType="com.apiserver.dto.ShoppingCartDTO">
        insert into shopping_cart(user_id, product_no) values(#{userId}, #{productNo});
    </insert>

    <insert id="shopping_cart_option_insert" parameterType="com.apiserver.dto.ShoppingCartDTO">
        insert into shopping_cart_option(shopping_cart_no, product_option_no) values(last_insert_id(), #{optionNo});
    </insert>

    <update id="shopping_cart_amount_update" parameterType="com.apiserver.dto.ShoppingCartDTO">
        update shopping_cart set amount = #{amount} where product_no = #{no}
    </update>

    <delete id="shopping_cart_delete" parameterType="com.apiserver.dto.ShoppingCartDTO">
        delete from shopping_cart where product_no = #{no}
    </delete>

    <delete id="shopping_cart_option_delete" parameterType="com.apiserver.dto.ShoppingCartDTO">
        delete from shopping_cart_option where shopping_cart_no = #{no}
    </delete>
</mapper>